{{- $manifest := includeTemplate "omp-plugins.yml" . | fromYaml -}}
{{- if eq .platform "windows" }}
$ErrorActionPreference = "Stop"

if (-not (Get-Command omp -ErrorAction SilentlyContinue)) {
    throw "omp is required to synchronize the plugin manifest."
}

$marketplaceName = {{ $manifest.marketplace.name | toJson }}
$marketplaceSource = {{ $manifest.marketplace.source | toJson }}
$marketplaceUrl = "https://github.com/$marketplaceSource"
$marketplaces = (& omp plugin marketplace list | Out-String)
if ($LASTEXITCODE -ne 0) {
    throw "omp could not list configured marketplaces."
}

$expectedMarketplacePattern = '(?m)^[ \t]*' +
    [regex]::Escape($marketplaceName) +
    '[ \t]+' +
    [regex]::Escape($marketplaceUrl) +
    '(?:[ \t]+|\r?$)'
if (-not ($marketplaces -cmatch $expectedMarketplacePattern)) {
    if ($marketplaces -cmatch ("(?m)^[ \t]*" + [regex]::Escape($marketplaceName) + "[ \t]")) {
        throw "Marketplace $marketplaceName is registered with a different source."
    }
    & omp plugin marketplace add $marketplaceSource
    if ($LASTEXITCODE -ne 0) {
        throw "omp could not add marketplace $marketplaceSource."
    }
}

$plugins = @(
{{- range $plugin := $manifest.plugins }}
    {{ $plugin | toJson }}
{{- end }}
)

foreach ($plugin in $plugins) {
    & omp plugin install $plugin --scope user --force
    if ($LASTEXITCODE -ne 0) {
        throw "omp could not install or upgrade plugin $plugin."
    }
}
{{- end }}
