{
  "version": 3,
  "lines": [
    [
      {
        "id": "1",
        "type": "model",
        "rawValue": true
      },
      {
        "id": "2",
        "type": "separator"
      },
      {
        "id": "de98b107-db77-44d2-8f2d-87cb7e7593b0",
        "type": "custom-text",
        "color": "brightGreen",
        "customText": "Ur: "
      },
      {
        "id": "dc6df89d-1676-45ff-9ec7-f24a591cd5c6",
        "type": "context-percentage-usable",
        "color": "brightGreen",
        "rawValue": true,
        "metadata": {
          "inverse": "true"
        }
      },
      {
        "id": "0b76cc02-8dcc-4905-b8b0-1a029c4e996b",
        "type": "separator"
      },
      {
        "id": "9a0df20f-1b80-4fe8-ba2b-2f61d0c47f2d",
        "type": "custom-text",
        "color": "brightBlue",
        "customText": "S: "
      },
      {
        "id": "edee431b-e4e5-494d-a43a-4c448089f960",
        "type": "session-usage",
        "rawValue": true,
        "metadata": {
          "display": "time"
        }
      },
      {
        "id": "4",
        "type": "separator"
      },
      {
        "id": "9411ec1b-1fde-4fe2-b043-e7e90c6510d7",
        "type": "current-working-dir",
        "color": "brightCyan",
        "rawValue": true,
        "metadata": {
          "fishStyle": "true"
        }
      },
      {
        "id": "cecc0067-05ac-4da2-89ed-533485c01d15",
        "type": "separator"
      },
      {
        "id": "6577bed4-7dec-4b33-bf1e-87b17ce43b89",
        "type": "git-worktree",
        "color": "blue"
      },
      {
        "id": "6",
        "type": "separator"
      },
      {
        "id": "7",
        "type": "git-changes",
        "color": "yellow"
      },
      {
        "id": "9558304e-48f3-4212-889d-d031f2084985",
        "type": "separator"
      },
      {
        "id": "2412dc35-0b6c-47ef-89d8-5e3fa1c633c3",
        "color": "brightCyan",
        "type": "worktree-original-branch"
      },
      {
        "id": "c59858c6-0ae6-4ebc-9c06-fc9620edabd9",
        "type": "custom-text",
        "color": "brightCyan",
        "customText": " "
      },
      {
        "id": "a32c22e7-c896-474c-b2cf-c4d3241396df",
        "type": "custom-command",
        "color": "brightCyan",
        "commandPath": "{{ .chezmoi.homeDir }}/.config/ccstatusline/git-ahead-behind.sh"
      }
    ],
    [],
    []
  ],
  "flexMode": "full-minus-40",
  "compactThreshold": 60,
  "colorLevel": 2,
  "inheritSeparatorColors": false,
  "globalBold": false,
  "gitCacheTtlSeconds": 5,
  "minimalistMode": false,
  "powerline": {
    "enabled": false,
    "separators": [
      ""
    ],
    "separatorInvertBackground": [
      false
    ],
    "startCaps": [],
    "endCaps": [],
    "autoAlign": false,
    "continueThemeAcrossLines": false
  },
  "installation": {
    "method": "pinned",
    "installedVersion": "2.2.19"
  }
}